body{
    background-color: cornsilk;
}
#h2{
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}
#d5{
    text-align: center;
    border: black solid 2px;
    align-items: center;
    border-width: 1px;
    height: 200px;
    margin-top: 10px;
    color: black;
    background-color: rgb(198, 206, 221);
    position: absolute;
    animation-name: Buttonanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes Buttonanimation {
    0% {background-color:rgb(56, 56, 146);}
    25% {background-color: seagreen;}
    50% {background-color: rgb(122, 192, 157);}
    75% {background-color: rgb(145, 145, 58);}
    100% {background-color: brown;}
}