#OutputImages
User1.png
User2.png
User2Message.png
User2MessageDB.png
User1Message.png
User1MessageDB.png
DatabaseInsert.png
VscodeTerminal.png

#CodeSnippet
Appjs.png
Appjs1.png
HtmlPage.png

#Report
ChatApp_report.docx

#modules
node_modules
