#OUTPUTIMAGES
MainLayout_page.png
AddingTask1_storingDetails.png
Task1_JSON.png
Task1_table_display.png
AddingTask2_storingDetails.png
Task2_JSON.png
Task2_table_display.png
AddingTask3_storingDetails.png
Task3_JSON.png
Task3_table_display.png
AddingTask4_storingDetails.png
Task4_JSON.png
Task4_table_display.png
Final_table_tasks_displayPage.png
Final_tasks_JSON.png
Delete_Task1.png
Delete_task1_table.png
Task1_delete_JSON
Delete_Task2.png
Delete_task2_table.png
Task2_delete_JSON


#CODESNIPPET
Task_planner_snippet1.png
Task_planner_snippet2.png
Task_planner_snippet3.png

#Report
TaskPlanner_report.docx








