#OutputImages
MainLayout_Index.png
AddCourse1.png
DbAddCourse1.png
AddCourse2.png
DbAddCourse2.png
AddCourse3.png
DbAddCourse3.png
AddCourse4.png
DbAddCourse4.png
UpdateCourse1.png
UpdateDBcourse.png
DeleteCourse1.png
DeleteDBCourse1.png
Fetch_ListCourses.png

#Code_SnippetImages
AppJsFile1.png
AppJsFile2.png
AppJsFile3.png
IndexPage.png
AddPage.png
UpdatePage.png
DeletePage.png
VsCodeTerminal.png

#Report
WebsiteWithMongoDB_report.docx

#Dependencies
node_modules
